li.selected{
    color: white;
    background-color: rgb(72, 89, 131);
    border-color: rgb(77, 164, 245);
}
li{
    cursor: pointer;
    padding: 4px 8px ;
    font-size: 0.8rem;
    border: 2px solid rgb(182, 217, 250);
}

nav.main{
position: relative;
}
button.but{
    display: inline;
    background-color:#007BFF;
    color: white;
    border: 1px solid rgb(182, 217, 250);
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;
         font-size: 0.8em;
 }
 
 button.selectedButton{
    background-color: rgb(102, 15, 7);
    -webkit-box-shadow: 0 5px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 5px 3px -3px #777;
 }
 a{
    font-size: 0.8em;
 }
