li.selected{
    color: white;
    background-color: rgb(235, 94, 94);
  border-left: 1px solid rgb(182, 217, 250);
}
nav{

   background-color: rgb(72, 87, 124);
}
li {
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 300;
    margin-left: 2px;
 
  
   color: white;
   padding:4px 10px 4px 4px;
   
}

nav.main{
position: relative;
}
button.but{
    display: inline;
    background-color:#007BFF;
    color: white;
    border: 1px solid rgb(182, 217, 250);
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;
         font-size: 0.8em;
 }
 
 button.selectedButton{
    background-color: rgb(102, 15, 7);
    -webkit-box-shadow: 0 5px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 5px 3px -3px #777;
 }
 a{
    font-size: 0.8em;
 }
