li.selected{
    color: white;
    background-color:rgb(90, 110, 161);
    border-color: rgb(77, 164, 245);
    
}
p {
    cursor: pointer;
}
.mainDiv{
position: relative;

border-top: 1px solid rgb(90, 110, 161);
}

.itemList{
border-right: 1px solid rgb(90, 110, 161);

}

button.but{
    background-color:#007BFF;
    color: white;
    border: 1px solid rgb(182, 217, 250);
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;
         font-size:0.8em;
 }
 
 button.selectedButton{
    background-color: rgb(52, 64, 94);
    -webkit-box-shadow: 0 5px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 5px 3px -3px #777;
 }
 a{
     font-size: 0.8em;
 }