button.but{
  background-color:rgb(72, 87, 124);
    color: white;
    border: 1px solid rgb(182, 217, 250);
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777;
        font-size:0.8em;
 }
 
 button.selectedButton{
        background-color:  rgb(235, 94, 94);
        -webkit-box-shadow: 0 5px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 5px 3px -3px #777;
 }

 span, label{
         font-size: 0.8em;
         font-weight: 600;
         font-style: italic;
         color: rgb(72, 87, 124);
 }

 button.but-pages{
        border-color:rgb(235, 94, 94);
        color:rgb(235, 94, 94);
 }



button.activeButton{
        background-color:rgb(235, 94, 94);
     
        color:white;
}
         
        
