.modalWindow { 
    position: fixed; 
    z-index: 1001; 
    left: 50%; 
   top: 50%; 
   transform: translate(-50%, -50%); 
    width: 400px; 
    height:auto; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color:whitesmoke; 
} 
.overlay { 
    position: fixed; 
    z-index: 1000; 
    left: 50%; 
   top: 50%; 
   transform: translate(-50%, -50%); 
    width: 9999px; 
    height:9999px; 
    opacity: 0.2; 
    background-color: black; 
} 
button.but{
    background-color:#007BFF;
    color: white;
    border: 1px solid rgb(182, 217, 250);
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    font-size: 0.8em;
 }
 
 button.selectedButton{
    background-color: rgb(102, 15, 7);
    -webkit-box-shadow: 0 5px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 5px 3px -3px #777;
      
        
 
 }