<div class="container  mt-1 mainDiv">
  <div class=" m-0 question bg-light">
    <p class="p-2" (click)="onSelect()"><span>{{index+1}}. &nbsp;</span>
      {{item[0]}}</p>
  </div>

  <div class="overflow-hidden answer" [@openClose]="isOpen ? 'open' : 'closed'">

    <div [froalaView]="item[1]">

    </div>

    <div *ngIf="pageService.isLogin" class="w-70">
      <button type="button" class="btn btn-sm but" (click)="editQuestion()">Edit </button>
      <button type="button" class="btn btn-sm but" (click)="removeQuestion()">Remove</button>
    </div>
  </div>

</div>
<app-edit-question-modal *ngIf="isEdit" 
[question]="question" 
[currentMessage] = "message"
(onSubmit)="onSubmit($event)"
  (onCancel)="onCancel($event)"></app-edit-question-modal>